
// colors
$brand-primary:             #fc5f01;
$brand-secondary:           #00529c;
$brand-secondary-light:     #266cab;
$brand-secondary-lighter:   #80a9ce;

$grey-darker:               #21252b;
$grey-dark:                 #353c45;
$grey:                      #656b6f;
$grey-light:                #b9c1c6;
$grey-lighter:              #f1f1f1;